/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Roboto', sans-serif;
}

.introducenombre:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline:none;
    border-bottom:2px solid crimson;
}

button.iname:focus{    -webkit-box-shadow: none;
    box-shadow: none;outline:none; }




.introducenombre{
    text-align:right;
    padding-right: 10px;
    margin-top:20px;
    height:31px;
    width:250px;
    border:none;
    border-bottom:2px solid crimson;
    color:crimson;
    font-size: 20px;
}

button.iname{
    background-color: crimson;
    font-size: 20px;
    height: 34px;
    width: 100px;
    color:white;
    margin-right: 0;
    border: none;
    border-bottom: 3px solid crimson;
    border-left: 3px solid crimson;
}

.tabla{
    width: 30%;
    margin-left:auto; 
    margin-right:auto;
}

table {
    border-collapse: collapse;
    margin-top:30px;
}

th,td {
    padding: 30px;
    text-align:center;
    border-bottom: 1px solid #ddd;
}
th,table{ color:crimson}
td{ color: black;}

.productosLeft {
    color:crimson;
    font-size:14px;
    text-align: right;
    position: relative;
    margin-top:5px;
    float: right;
}

.productosporcomprar{
    width:350px;
    margin-left:auto;
    margin-right:auto;
}