<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="175" style="margin-top:50px;" alt="Angular Logo" src="http://www.stickpng.com/assets/images/59bedb177a216d0b052f128a.png">

  <h2>{{title}} </h2>
  <input #desc (keyup.enter)="addProducto(desc.value); desc.value=''" class="introducenombre" type="text" #producto name="producto"><button (click)="addProducto(desc.value); desc.value=''" class="iname">Añadir</button>
  <br>
  <div class="productosporcomprar">
    <span class="productosLeft" *ngIf="productos.length">Te quedan {{quedanProductos()}} productos por comprar.</span>
    <span class="productosLeft" *ngIf="!productos.length">Aún no has añadido ningun producto.</span>

  </div>

</div>
<div class="tabla">

 <table>
    <tr *ngIf="productos.length">
      <th>Comprado</th><th>Producto</th><th>Eliminar</th>
    </tr>
    <tr *ngFor="let producto of productos; let i=index">
      <td><input type="checkbox" [(ngModel)]="producto.checked"
                 (change)="marcar(producto.checked?-1:1)"></td>
      <td>
        <span style="font-size:20px;" [style.textDecoration]="producto.checked?'line-through':'none'">
        {{producto.description}}
        </span>
      </td>
      <td>
        <img style="width:17%" [src]="iconoBorrar" (click)="eliminar(i)"/>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="errorProductoNombre==true" (click)="errorProductoNombre=false;" class="error_nombre_producto"><div class="texto_error">¡El nombre del producto no puede estar vacio!</div></div>
<router-outlet></router-outlet>
